<div class="site-topnav-content">
    <nav class="site-menu"><a href="/index.html">
        {% for item in site.data.setting.menu %}
            {% if item.isLast %}
                <a href="{{ item.url }}">{{ item.name }}</a>
            {% else %}
                <a href="{{ item.url }}">{{ item.name }}</a> | 
            {% endif %}
        {% endfor %}
    </nav>
    <nav class="site-social">
        {% for item in site.data.setting.social %}
            <a href="{{ item.link }}" target="_blank"><i class="fab fa-{{ item.icon }}" aria-hidden="true"></i></a> 
        {% endfor %}
    </nav>
</div>